@font-face {
    font-family: 'Avenir';
    src: url('./fonts/Avenir/Avenir-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-Regular.ttf') format('opentype');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat-Medium';
    src: url('./fonts/Montserrat/Montserrat-Medium.otf') format('opentype');
    font-weight: 500; /* Medium */
    font-style: normal;
  }